_ReSharper*/
_TeamCity.*/
*.suo
*.dgml
[Bb]in/
[Oo]bj/
ClientBin/
[Ll]ogs/
*.user
UpgradeLog*
*.orig
Backup/
StyleCop.Cache
*.dbmdl
packages/
*.bak
[Dd]ebug/
[Rr]elease/
bower_components/
node_modules/
package.json
gulpfile.js
Temp/
.vs/**
*.jfm